@font-face {
  font-family: "iconfont"; /* Project id 4008714 */
  src: url('iconfont.woff2?t=1681196795036') format('woff2'),
       url('iconfont.woff?t=1681196795036') format('woff'),
       url('iconfont.ttf?t=1681196795036') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renlianguanli:before {
  content: "\e61e";
}

.icon-renlianshibie_o:before {
  content: "\eb67";
}

